<body>
	{{#if mon.flags.nullURL}}
		url not found
	{{else}}
		<img src="{{mon.url}}" id="img">
	{{/if}}
	<br>
	<form method="GET" action="/register">
		Moves:
		<br>
		<input name="move1" list="moves">
		<br>
		<input name="move2" list="moves">
		<br>
		<input name="move3" list="moves">
		<br>
		<input name="move4" list="moves">
		<br>
		<input type="hidden" name="name" value="{{mon.name}}">
		<input type="hidden" name="numb" id="numb">
		<button type="submit" id="done">Done</button>
	</form>

	<datalist id="moves">
		{{#each mon.moves}}
			<option value={{this}}>
		{{/each}}
	</datalist>

	<script>
		var temp = document.cookie.split(";")
		var temp2 = []
		for(var i = 0; i< temp.length; i++) {
			temp2.push(temp[i].split("="))
		}
		var numb
		for(var i = 0; i < temp2.length; i++) {
			if(temp2[i][0] === "numb") {
				numb = temp2[i][1]
			}
		}
		document.getElementById("numb").value = numb
	</script>
</body>