<p>
	Go get a friend and battle them in pokemon, but bad!
	First go to the Queue button to select the pokemon you're using.
	Then pick its moves! Type advantages attack base powers are implements so get some good type coverage!
	Be sure to select different player numbers! After you and your opponent have both selected pokemon,
	click on the battle button to begin your battle. qwer correspond to each of your 4 moves.
	Last one standing wins the duel! Enjoy!
</p>