<body>
    {{{body}}}
    <form method="POST" action="/add">
        Name:
        <input type="text" name="name" id="">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>