:root {
	--margin: 10%;
	--lineup: 20%
}

@keyframes test1 {
	0% {
		left: var(--margin);
		bottom: var(--lineup);
	}

	99% {
		left: calc(100% - var(--margin));
		bottom: var(--lineup);
	}

	100% {
		background-color: transparent;
		left: calc(100% - var(--margin));
		bottom: var(--lineup);
		z-index: -1;
	}
}

@keyframes test2 {
	0% {
		right: var(--margin);
		bottom: var(--lineup);
	}

	99% {
		right: calc(100% - var(--margin));
		bottom: var(--lineup);
	}

	100% {
		background-color: transparent;
		right: calc(100% - var(--margin));
		bottom: var(--lineup);
		z-index: -1;
	}
}

.one {
	position: absolute;
	height: 5vh;
	width: 5vh;
	animation-name: test1;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}


.two {
	position: absolute;
	height: 5vh;
	width: 5vh;
	animation-name: test2;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

#sprite1 {
	position: absolute;
	left: var(--margin);
	bottom: var(--lineup);
	transform: scaleX(-1);
}

#sprite2 {
	position: absolute;
	right: var(--margin);
	bottom: var(--lineup);
}

#hptext1 {
	position: absolute;
	right: calc(100% - var(--margin));
	bottom: calc(var(--lineup) - 10%);
	color: black
}

#hptext2 {
	position: absolute;
	left: calc(100% - var(--margin));
	bottom: calc(var(--lineup) - 10%);
	color: black
}

#hp1 {
	position: absolute;
	background-color: green;
	width: 15%;
	height: 5%;
	left: var(--margin);
	bottom: calc(var(--lineup) - 10%);
}

#hp2 {
	position: absolute;
	background-color: green;
	width: 15%;
	height: 5%;
	right: var(--margin);
	bottom: calc(var(--lineup) - 10%);
}

#winner {
	width: 30%;
	height: 100px;
	font-size: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	margin: auto;
}